################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/CIS430Repo/config/applicationhost.config
/.vs/slnx.sqlite
